<div class="container mt-4">
  <div class="bg-light p-4 mb-4 rounded shadow-sm">
    <h1 class="text-center text-dark display-4">Cocktails</h1>
  </div>

  <ul class="list-unstyled row justify-content-center">
    <% @cocktails.each do |cocktail| %>
      <li class="col-md-4 text-center mb-4">
        <%= link_to cocktail do %>
          <%= image_tag url_for(cocktail.image), class: "img-fluid rounded-circle border border-primary mb-2", alt: cocktail.name %>
          <br />
          <span class="d-block h5 text-dark mt-2"><%= cocktail.name %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>


<%#= link_to "Create New Cocktail", new_cocktail_path %>