<h1>Cocktails</h1>

<ul>
  <% @cocktails.each do |cocktail| %>
    <li>
      <%= link_to image_tag(url_for(cocktail.image), size: 100), cocktail %><br />
      <%= link_to cocktail.name, cocktail %>
    </li><br />
  <% end %>
</ul>

<%= link_to "Create New Cocktail", new_cocktail_path %>