<h1>Ingredients</h1>

<div class="list-group">
  <% @ingredients.each do |ingredient| %>
    <%= link_to(ingredient.name, ingredient, class: "list-group-item list-group-item-action") %>
  <% end %>
</div>
<br>

<%= link_to "Create New Ingredient", new_ingredient_path %>