<div class="container mt-4">
  <!-- Header -->
  <div class="bg-light p-4 mb-4 rounded shadow-sm">
    <h1 class="text-center text-dark display-4"><%= @ingredient.name %></h1>
  </div>

  <!-- Details -->
  <% if @ingredient.description.present? %>
    <div class="bg-white p-4 mb-4 rounded shadow-sm">
      <p class="text-secondary"><%= @ingredient.description %></p>
    </div>
  <% end %>

  <!-- Connected Cocktails -->
  <% if @connected_cocktails.present? %>
    <div class="bg-light p-4 mb-4 rounded shadow-sm">
      <h2 class="text-dark">Connected Cocktails</h2>
      <div class="list-group">
        <% @connected_cocktails.each do |connected_cocktail| %>
          <%= link_to connected_cocktail.name, connected_cocktail, class: "list-group-item list-group-item-action" %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="bg-light p-4 mb-4 rounded shadow-sm">
      <p class="text-muted">No connected cocktails found for this ingredient.</p>
    </div>
  <% end %>

  <!-- Back Link -->
  <div class="bg-light p-4 rounded shadow-sm text-center mt-4">
    <%= link_to "Back to all ingredients", "/ingredients", class: "btn btn-primary btn-block" %></li>
  </div>
</div>