<footer class="bg-dark text-white text-center py-3 mt-auto">
  <div class="container">
    <p class="mb-0">&copy; <%= Time.now.year %> Buzzy's Bar. All rights reserved.</p>
    <p class="mb-0">
      <%= link_to 'LinkedIn', 'https://www.linkedin.com/in/acortes-chicago/', class: 'text-white' %> | 
      <%= link_to 'GitHub', 'https://github.com/acortes8', class: 'text-white' %>
    </p>
  </div>
</footer>